nav{
    background-color: #002450;
}

footer{
    background-color: #002450;
    position: sticky;
    top: 100%;
}

div.cardLog{
    background-color: #002450;
}

button{
    color: #FF0000
}

small{
    opacity: 50%;
}

html,body{
    height: 100vh;
}

main{
    height: 100%;
}

.imgProfile {
    border-radius: 50%;
    overflow: hidden;
}

div.cardSong{
    background-color: #002450;
}

.text{
    display: none;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

div.cardEvent{
    background-color: #002450;
}

div.cardn{
    background-color: #002450;
}